rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if request.auth != null && request.auth.uid == uid
        && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['credits']));

      match /builds/{buildId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;

        match /stages/{stageId} {
          allow read, write: if request.auth != null && request.auth.uid == uid;
        }
      }
    }
  }
}
